python
jinja2
lz4
mygene
numpy
pandas
pyarrow>=1.0
pyyaml
r-arrow
r-caret
r-janitor
r-rmarkdown
r-pma
r-tidyverse
r-vim
r-wgcna
bioconductor-biomart
scikit-learn
scipy
snakemake-minimal
statsmodels
pytest
