bioconda::snakemake-minimal>=5.23.0
conda-forge::r-base>=4.0
conda-forge::python>=3.8
jinja2
lz4
mygene
numpy
pandas
pyarrow>=1.0
pynvim
pyyaml
r-arrow>=1.0
r-caret
r-coop
r-devtools
r-ggpmisc
r-ggrepel
r-janitor
r-nmf
r-rmarkdown
r-pma
r-rrcov
r-tidyverse
r-uwot
r-vim
r-wgcna
bioconductor-biomart
scikit-learn
scipy
statsmodels
pytest
